#map-overlay {
  /* its over 9000! */
  z-index:9001;
  color: red;

  /* .legend { */
  /* } */
}
.legend-entry {
  display: flex;
  align-items: center;
}

.legend-color {
  margin: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

#event-text {
  position: relative;
  top: -40px;
  font-size: 28px;
}

#event-pixel {
  height: 15px;
  width: 15px;
  border: 5px solid green;
  border-radius: 3px;
}
